<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hist처ria</title>
</head>
<body>
    <h1>Hist처ria</h1>
    <p>N찾o sei a hist처ria da FATEC.</p>
</body>
</html>